.flex-container {
  display: flex;
} 

#sidebar {
  flex: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sidebar > a {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.flex-item-right {
  flex: 50%;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  } 
}

td > img {
  width:25%;
  height:25%;
}
