.flex-container {
  display: flex;
} 

#sidebar {
  flex: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-right: 2em;
  overflow: hidden;
}

#sidebar > a {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.flex-item-right {
  flex: 50%;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  } 
}

td > img {
  width:25%;
  height:25%;
}

.section {
  /* width: 100vw; */
  height: 99vh;
  border-bottom-width: 0.2em;
  border-bottom-style: solid;
  border-bottom-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
